.Dog{
    text-decoration: none;
    border: none;
    font-size: 18px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0 50% 50% 0;
    background-color: #e9e2d4;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative; left:30px;
    position: relative; top:40px;
}